<%- include('../partials/header') %>
    <ul>
        <% skills.forEach(function(s){ %>
            <li>
                <a href="/skills/<%= s.skillId %>"><%= s.skillName %></a>
            </li>


            <%});%>
    </ul>

