<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill details</title>
</head>
<body>
    <h1>Skill details</h1>
    <h2><%=skill.skillName %></h2>
    <p>Status: <%=skill.status%></p>
    
</body>
</html>